body, button, input, optgroup, select, textarea {
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: #291e1c;
}

#paso2, #paso3, #paso4 {
    padding: 30px;
}

#paso1 p {
    margin-top: 30px;
    color: #fff;
}